<div class="catalog-page">
  <h1>All Blog Posts</h1>

  <div *ngIf="isLoading" class="loader">Loading posts...</div>
  
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <ng-container *ngIf="posts$ | async as posts">
    <div *ngIf="!isLoading && posts.length === 0" class="no-posts">
      <p>There are no posts yet.</p>
    </div>

    <div class="post-list" *ngIf="posts.length > 0">
      <div *ngFor="let post of posts" class="post-card">
        <img [src]="post.imageUrl" [alt]="post.title">
        <h3>{{ post.title }}</h3>
        <a [routerLink]="['/posts', post._id]" class="details-button">Details</a>
      </div>
    </div>
  </ng-container>
</div>